html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 60px;
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #FF2800, #A00000);
}

body,
footer,
.popup-section {
  max-width: 425px;
  margin-right: auto;
  margin-left: auto;
}

#main-content {
  display: block;
}

main {
  padding: 16px;
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../assets/fonts/GreatVibes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayFair';
  src: url('../assets/fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Velocista';
  src: url('../assets/fonts/Velocista-Demo-FFP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





h1,
h2,
h3,
p,
.labell,
.countdown-label,
#guest-count,
#guest-count-no,
.guest-count-label,
.time,
.event {
  color: var(--color-text);
}

h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 1.5em;
  margin: 5px 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
h2 {
  font-family: 'Racing Sans One', cursive;
  font-size: 1.6em;
  margin: 3px 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
h3 {
  font-family: 'Racing Sans One', cursive;
  font-size: 1em;
  margin: 8px 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p {
  font-family: 'Comfortaa', cursive;
  font-size: 0.9em;
  margin: 4px 0;
  color: var(--color-primary);
}
h1,
h2,
h3,
p,
.labell,
.countdown-label,
#guest-count,
#guest-count-no,
.guest-count-label,
.time,
.event {
  color: var(--color-primary);
}

.h3-main {
  font-family: 'Comfortaa', cursive;
  margin: 0px 0;
  font-size: 1em;
  margin: 8px 0;
  color: var(--color-primary);
}

img {
  max-width: 100%;
  height: auto;
  z-index: 999;
}

.countdown {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.countdown-label {
  color: var(--color-primary);
}

.countdown-box {
  flex: 1 1 10%;
  padding: 10px;
  border-radius: 6px;
  background-color: transparent !important;
}
.countdown-box h2 {
  color: var(--color-primary);
}

#guest-count {
  color: var(--color-primary);
}

#guest-count-no {
  color: var(--color-primary);
}

.guest-count-label {
  color: var(--color-primary);
}

#navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  z-index: 3000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-links {
  text-align: center;
  font-size: 14px;
  flex: 1;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

#navigation span {
  display: block;
  font-size: 12px;
  margin-top: 4px;
  color: var(--color-button);
  font-family: 'Comfortaa', cursive;
}

input,
textarea,
button,
select {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  color: var(--color-text); /* Added grey color */
}

input,
textarea,
select {
  border-radius: 10px;
  border: 1px solid;
}

input::placeholder,
textarea::placeholder {
  color: white;
  opacity: 1; /* Firefox default opacity is lower */
}

button {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.hadir-submit {
  width: 100%;
}

.close {
  border: 1px solid var(--color-border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 0%;
}

section {
  padding: 10vh 0;
  margin: 0;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.short {
  padding: 0vh 0 10vh 0;
}

.shorter {
  padding: 5vh 0;
}

#wrapper {
  max-width: 425px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.popup-section {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  background: var(--color-secondary);
  z-index: 2000;
  padding: 20px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  text-align: center;
  animation: slideUp 0.3s ease;
}

.popup-section.active {
  display: block;
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.popup-overlay.active {
  display: block;
}

.popup-section form {
  text-align: left;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form select,
form textarea {
  margin-bottom: 10px;
}

.labell {
  font-size: 1em;
  color: var(--color-primary);
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 425px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  transform: none !important;
  overflow: visible;
}

.carousel img {
  min-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  flex-shrink: 0;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--color-button);
}

.timeline-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  align-items: center;
}

.timeline-row {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-border);
}

.timeline-row:nth-of-type(1) {
  border-top: 1px solid var(--color-border);
}

.time {
  font-weight: bold;
  margin-bottom: 4px;
  color: var(--color-primary);
}

.event {
  color: var(--color-primary);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
}

.contact-link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

.contact-box {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid;
  border-radius: 6px;
  background: var(--color-secondary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
  text-align: left;
}

.wa-icon {
  width: 24px;
  height: 24px;
  filter: invert(1) grayscale(1) brightness(2);
}
.map-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.map-btn {
  background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  font-size: 1em;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  font-family: 'LeagueSpartan', sans-serif;
  transition: background-color 0.2s;
}

.rsvp-btn {
  margin-top: 5%;
}

#rsvp-form {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.timeline li {
  width: 80%;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.timeline li:nth-of-type(1) {
  border-top: 1px solid #ccc;
}

.timeline li div {
  margin: 5px 0;
}

.nav-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
  filter: invert(1) grayscale(1) brightness(2); /* This attempts to make black outlines white */
}

.ucapan-scroll {
  min-height: 300px;
  max-height: 350px;
  overflow: auto;
  position: relative;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  width: 60%;
  margin: 0 auto;
  background-color: transparent !important;
}

#ucapan-list {
  max-height: 200px;
  overflow-y: hidden;
  padding-right: 10px;
}

.ucapan-scroll p {
  margin: 0;
  padding: 8px 0;
  font-size: 16px;
  animation: scroll-up 20s linear infinite;
  text-align: center;
  color: var(--color-primary);
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

#music-btn {
  background: var(--color-button-bg);
  border: 1px solid var(--color-border);
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.8s ease, opacity 0.3s ease;
}

#music-btn.hide {
  transform: translateY(-100px);
  opacity: 0;
  pointer-events: none;
}

#music-icon {
  width: 24px;
  height: 24px;
}
.intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.intro-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  background-attachment: scroll;
  background-color: var(--color-secondary);
  background-blend-mode: screen;
}

#enter-btn {
  width: 180px;
  height: 180px;
  font-size: 18px;
  background-color: transparent;
  color: black;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  box-shadow: none;
  padding: 0;
}

#enter-btn.animate-exit {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.kehadiran {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid;
  margin: 10px auto;
  display: block;
}

.popup-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-overlay1 img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes pulse-highlight {
  0%,
  100% {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    transform: scale(1);
  }
  50% {
    background-color: var(--color-secondary);
    color: var(--color-secondary);
    border: 3px solid var(--color-border);
    transform: scale(1.09);
  }
}

.rsvp-highlight {
  animation: pulse-highlight 5s infinite;
  transition: all 1.8s ease;
}

@keyframes pulse-highlight {
  0%,
  100% {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    transform: scale(1);
  }
  50% {
    background-color: var(--color-secondary);
    color: var(--color-secondary);
    border: 4px solid var(--color-border);
    transform: scale(1.09);
  }
}

@keyframes border-shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
}

.animated-border {
  border: 2px solid var(--color-border);
  animation: border-shake 2s infinite;
}

.container {
  position: relative;
  background-color: transparent !important;
}

.top-right-bg {
  position: absolute;
  top: 0;
  right: -130px;
  width: 60%;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1);
  transform: scaleY(-1);
}

.top-left-bg {
  position: absolute;
  top: 0;
  left: -100px;
  width: 60%;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1);
}
.bottom-right-bg {
  position: absolute;
  bottom: 20px;
  right: -100px;
  width: 70%;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1) rotate(20deg);
}

.car-racing-no-rotate {
  position: absolute;
  bottom: 20px;
  right: -100px;
  width: 80%;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1) rotate(20deg);
}

.bottom-left-bg {
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 60%;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1);
}

.custom-top-left-bg {
  position: absolute;
  top: -1;
  left: -90px;
  width: 70%;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  transform: scaleX(-1) rotate(-10deg);
}

.custom-bottom-left-bg {
  position: absolute;
  bottom: 0.01;
  left: -80px;
  width: 60%; /* This controls the size */
  opacity: 1;
  pointer-events: none;
  z-index: 1;
  transform: scaleX(-1) rotate(20deg);
}

.customm-bottom-left-bg {
  position: absolute;
  bottom: 0;
  left: -100px;
  width: 80%;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
  transform: rotate(30deg);
}

.confirm-popup {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  background: var(--color-secondary);
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  z-index: 5000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.confirm-popup.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popup-buttons {
  margin-top: 15px;
}

.popup-buttons button {
  text-align: center;
  margin: 5px 10px;
  padding: 8px 10px;
}

#speech {
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 100px;
}

#popup-contact strong,
#popup-location strong {
  font-family: 'Comfortaa', cursive;
}
